body{
  background:url('covid19.jpeg') center ;
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  color: #fff;
  overflow-x: hidden;
}
#start{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding:100px 0;
}
.timeline ul{
  list-style: none;
  padding: 50px 0;
}
.timeline ul li{
  width: 8px;
  margin: 0px auto;
  background: white;
  padding:top 50px ;
  position: relative;
}
.timeline ul li div{
  width: 400px;
  background: #F45B69;
  padding: 15px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  left: -439px;
  transform: translate3d(-200px, 0, 0);
}
.timeline ul li.in-view div 
{
  transform: none;
  visibility: visible;
  opacity: 1;
}

